.page {
    display:inline-block;
    margin:50px;
    border:1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 1000px;
    height: 800px;
    min-height: 10%;
    min-width: 10%;
    padding: 20px;
}

@media only screen and (max-width: 650px) {
    .page {
        display:inline-block;
        margin:15px;
        border:1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        width: 500px;
        height: 400px;
        min-height: 10%;
        min-width: 10%;
        padding: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .page {
        display:inline-block;
        margin:15px;
        border:1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        width: 350px;
        height: 300px;
        min-height: 10%;
        min-width: 10%;
        padding: 20px;
    }
}

